<!DOCTYPE HTML>
<html ng-app="todo">
<head>
    <title>ToDo List App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <link href="css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
    <script src="js/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/todo.service.js"></script>
    <script src="js/todo.controller.js"></script>
</head>

<body ng-controller="ToDoCtrl as tdc">
<table class="table">
    <thead>
        <th scope="col">No.</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Is Done</th>
    </thead>
    <tbody>
        <tr ng-repeat="todo in tdc.todos">
            <th scope="row">{{todo.id + 1}}</th>
            <td>{{todo.name}}</td>
            <td>{{todo.description}}</td>
            <td>{{todo.isDone}}</td>
        </tr>
    </tbody>
</table>

<script src="js/jquery-3.2.1.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>